@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Anthony Arias
   Date:   10-24-18
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
/* This sets the height of the html to 100% */
html {
    height: 100%;
}

/* This sets the body to have a width of 95%, max and min width of 640 and 960 pixels. The margin left and right auto sets the page to align in the center. */
body {
    width: 95%;
    max-width: 640px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

/* This set of code sets the hyperlink thats in the list thats in a nav thats in an unordered list thats in a header to have a box sizing to border box. */
header,
ul,
nav,
li,
a {
    box-sizing: border-box;
}



/* Row Styles */
/* This set of code solves any container collapse. */
.row::after {
    clear: both;
    content: "";
    display: table;
}




/* Page Header Styles */
/* This set of code has it so that the img is the child of the header and the header is the child of the body. And that sets the display to block, width to 70% and it also floats it to the left. */
body>header>img {
    display: block;
    width: 70%;
    float: left;
}

/* This set of code sets the the nav thats in the header and the header thats in the body to float left, have a righ and left padding of 2% and lastly a width of 30%. */
body header nav {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
}

/* This set of code sets the hyperlink thats in a nav thats in a header have a display of block and a width of 100%. */
header nav a {
    display: block;
    width: 100%;
}

/* Horizontal Navigation List Styles */
/* This set of code targets the lists of the specific class of horizontal to have a display of block, a width of 12.5% and also makes it float to the left.  */
.horizontal li {
    display: block;
    width: 12.5%;
    float: left;
}

/* Topics Styles */
/* This set of code targets the ul with the id of targets to have a display of block, width of 20%, margin-right to 1.5%, margin-left to 0% and also floats it to the left. */
ul#topics li {
    display: block;
    width: 20%;
    float: left;
    margin-left: 0%;
    margin-right: 1.5%;
}

/*This set of code targets the first unordered lists and sets the margin-left to 7.75%.  */
ul#topics:first-of-type {
    margin-left: 7.75%;
}

/* This set of code targets the last unordered lists and sets the margin-left to 7.75%. */
ul#topics:last-of-type {
    margin-right: 7.75%;
}

/*This set of code targets the id of topics with an image to have a display of block, a width of 50% and a right and left margin of auto. */
ul#topics img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


/* HR Styles */
/* This sets a horizontal line to have a width of 50%. */
hr {
    width: 50%;
}



/* Customer Comment Styles */
/* This targets the id of comments to have a width of 75% and the left and right margin to auto and the bottom and top margin to 40 pixels */
ul#comments {
    width: 75%;
    margin: 40px auto;
}

/* This targets the lists that have an id of comments to have a display of block, width of 50%, bottom of margin to 30 pixels and floats it to the left. */
ul#comments li {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

/* This targets the image that has an id of comments to have a display of block, width of 20%, left and right margin to 5% and floats it to the left. */
#comments img {
    display: block;
    width: 20%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

/* This targets the paragraph that has an id of customer to float left and to have a width of 70%. */
li#customer p {
    float: left;
    width: 70%;
}


#comments::after {
    clear: both;
    content: "";
    display: table;
}

/* Footer Styles */
/* This displays the footer only when both margins are cleared of floating objects. */
footer {
    clear: both;
}